#features {
  height: 595px;
  width: 100%;
  background: black;
  img {
    position: absolute;
    width: 100%;
    height: 595px;
    object-fit: cover;
    left: 0;
  }

  #overlay-gradient {
    position: absolute;
    width: 100%;
    height: 595px;
    background: transparent linear-gradient(270deg, #6696e2 0%, #e27866 100%) 0%
      0% no-repeat padding-box;
    opacity: 0.42;
  }

  .info {
    width: 100%;
    height: 595px;
    position: absolute;
    display: flex;

    .tabs {
      width: 257px;
      display: flex;
      flex-direction: column;

      button {
        width: 100px;
        height: 100px;
        background: #a37169;
        border: none;
        margin-bottom: 21px;
        margin-left: 151px;
        transition: 0.3s;

        &:nth-of-type(1) {
          margin-top: 127px;
        }

        &:hover {
          background: #e27866;
          cursor: pointer;
        }

        &.active {
          background: #e27866;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;
          text-transform: uppercase;
          color: white;
          font-size: 14px;
          font-family: montserrat;
          font-weight: 600;
          opacity: 0.5;
          transform: rotate(-45deg);
          transition: 0.3s;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .tabcontent {
      display: none;
      height: 100%;
      width: 100%;
      -webkit-animation: fadeEffect 1s;
      animation: fadeEffect 1s;

      @-webkit-keyframes fadeEffect {
        from {
          display: none;
          transform: translateY(25px);
          opacity: 0;
        }
        to {
          display: flex;
          transform: translateY(0);
          opacity: 1;
        }
      }

      @keyframes fadeEffect {
        from {
          transform: translateY(25px);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }

      #tabs-content {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;

        h1 {
          font-size: 36px;
          // margin-top: 150px;
          margin-left: 54px;
          margin-right: 76px;
        }

        p {
          font-size: 14px;
          margin-left: 54px;
          margin-top: 33px;
          margin-right: 70px;
        }
      }

      .image-container {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        #images {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          max-width: 363px;
          height: 100%;
          position: relative;
          margin-right: 50px;

          .horizontal {
            display: flex;
            align-items: center;
            justify-content: center;

            max-width: 363px;
            max-height: 168px;
            position: relative;

            .plant-1 {
              max-width: 168px;
              max-height: 168px;
              position: relative;

              &::after {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                font-weight: 600;
                color: white;
                content: "Explore";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #e27866;
                transition: 0.3s;
                opacity: 0;
              }

              &:hover::after {
                opacity: 0.8;
              }
            }
            .plant-2 {
              max-width: 168px;
              max-height: 168px;
              position: relative;

              &::after {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                font-weight: 600;
                color: white;
                content: "Explore";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #e27866;
                transition: 0.3s;
                opacity: 0;
              }

              &:hover::after {
                opacity: 0.8;
              }
            }
          }

          img {
            position: relative;
            width: 100%;
            height: 100%;
          }

          .shoes {
            max-width: 363px;
            max-height: 168px;
            position: relative;

            &::after {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
              font-weight: 600;
              color: white;
              content: "Explore";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: #e27866;
              transition: 0.3s;
              opacity: 0;
            }

            &:hover::after {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
