#navigation {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 72px;
  background: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    width: 100%;
    img {
      margin: 0 148px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  #top-menu {
    width: 100%;
    // margin: 0 148px;
    word-spacing: 44px;
    font-size: 14px;
    margin-left: 70px;
    margin-right: 38px;
    a {
      text-decoration: none;
      color: #ffffff;
      transition: 0.1s;

      &:hover {
        border-bottom: 2px solid #e27866;
      }
    }

    .active {
      border-bottom: 2px solid #e27866;
    }

    #burger {
      display: none;
      color: white;
      font-size: 20px;
      transition: 0.3s;

      .rotateZ {
        transform: rotateZ(-90deg);
      }

      &:hover {
        cursor: pointer;
        color: #e27866;
      }
    }
  }
}
