@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import "navigation";
@import "header";
@import "social";
@import "features";
@import "about";
@import "awesome";
@import "pricing";
@import "reviews";
@import "swiper";
@import "contacts";
@import "footer";

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: montserrat;
}
