#tabs {
  display: flex;
  flex-direction: row;
  img {
    position: absolute;
    width: 100%;
    height: 595px;
    object-fit: cover;
    left: 0;
  }

  #overlay-gradient {
    position: absolute;
    width: 100%;
    height: 595px;
    background: transparent linear-gradient(270deg, #6696e2 0%, #e27866 100%) 0%
      0% no-repeat padding-box;
    opacity: 0.42;
  }

  .tabs {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 126px 0;

    button {
      width: 100px;
      height: 100px;
      background: #a37169;
      border: none;
      margin: 0 151px;
      margin-bottom: 21px;

      span {
        display: inline-block;
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        font-family: montserrat;
        font-weight: 600;
        transform: rotate(-45deg);
      }
    }
  }

  #tabs-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    width: 517px;
    margin-left: 305px;

    h1 {
      font-size: 36px;
      margin-top: 150px;
      margin-bottom: 33px;
    }

    p {
      font-size: 14px;
      margin-bottom: 150px;
    }
  }

  #images {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 168px;
    // gap: 25px;
    width: 362px;
    height: 362px;
    margin-left: 890px;
    margin-top: 114px;

    img {
      width: 100%;
      height: 50%;

      &:nth-of-type(1) {
        grid-row: 1/3;
        grid-column: 1/2;
      }
      &:nth-of-type(2) {
        grid-row: 1/2;
        grid-column: 2/3;
      }
      &:nth-of-type(3) {
        grid-row: 2/3;
        grid-column: 1/3;
        margin-top: 183px;
      }
    }
  }
}
